html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(62, 112, 142, 1), rgba(100, 150, 155, 1));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

form {
  background-color: white;
  /* padding: 20px; */
  margin: 0 30px;
  justify-content: center;
}
.title {
  color: rgba(78, 117, 119, 1);
  justify-self: center;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.error {
  color: red;
  font-size: 0.9em;
}
